DATABASE_URL="postgresql://postgres:CHANGE_ME@db.vkhuknmxfibruljialve.supabase.co:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:CHANGE_ME@db.vkhuknmxfibruljialve.supabase.co:5432/postgres"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
SUPABASE_URL="https://vkhuknmxfibruljialve.supabase.co"
SUPABASE_ANON_KEY="sb_publishable_NBOx0cml4sufpWkEUTQ5yg_8NtLwFso"
